@model IEnumerable<Resturant_System.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table panel" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extra)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Meal_Id)*@
                <div id="Meal_Id">
                    @foreach (var items in ViewBag.Meal_Ids as List<Resturant_System.Models.Select_Item>)
                    {
                        if (items.id == item.Meal_Id)
                        {
                            <div id="">@items.value</div>
                        }
                    }
                </div>

            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Invoice_Id)*@
                <div id="Invoice_Id">
                    @foreach (var items in ViewBag.Invoice_Ids as List<Resturant_System.Models.Select_Item>)
                    {
                        if (items.id == item.Invoice_Id)
                        {
                            <div id="@items.id">@items.value</div>
                        }
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
