@model Resturant_System.Models.Reserved_Table



@{
    ViewBag.Title = "Create";
}

        <h2> Create Reservation </h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reserved_Table</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Table_Id)
        </div>
        <div class="editor-field">
            <span>
                <select id="Table_Id" name="Table_Id" class="form-control">
                    <option value="0"> --- Select a Table --- </option>
                    @foreach (var item in ViewBag.Tables as List<Resturant_System.Models.Select_Item>)
                    {
                        <option value="@item.id" selected="@item.selected">@item.value</option>
                    }
                </select>
            </span>

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Table_Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Table_Status)
            @Html.ValidationMessageFor(model => model.Table_Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start_Date)
        </div>


        <div class="editor-field">
            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" id="datetimepicker2" />
            <br/>
            <input type='text' class="form-control" id='datetimepicker6' />
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
            </span>
            -----------------
            <div class="form-group">
                <div class='input-group date' id='datetimepicker9'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            -----------------
            <script type="text/javascript">
                $('#datetimepicker9').datetimepicker();
            </script>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Extra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Extra)
            @Html.ValidationMessageFor(model => model.Extra)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    <script>
    $(function () {
        var $window = $(window), $body = $(document.body);
        $body.scrollspy({
            target: '.bs-sidebar'
        });
    });
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'analitic.js', 'ga');

    ga('create', 'UA-47462200-1', 'eonasdan.github.io');
    ga('send', 'pageview');
    </script>


@*@Html.Partial("datetimePicker","Shared")*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/bootstrap") 
    

}


//=========================
