@model Resturant_System.Models.Meal_Suggestion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Meal_Suggestion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            <span>
                <select id="Category_Id" name="Category_Id" class="form-control">
                    @*<option value="0"> All Categories</option>*@
                    @foreach (var item in ViewBag.CategoryID as List<Resturant_System.Models.Select_Item>)
                    {
                        <option value="@item.id" selected="@item.selected">@item.value</option>
                    }
                </select>
            </span>
        </div>
        <p>
            <input type="submit" value="Create" class="btn btn-primary"  />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
