@model Resturant_System.Models.Meal_Content

@{
    ViewBag.Title = "Add More Goods";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Meal_Content</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit)
            @Html.ValidationMessageFor(model => model.Unit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit)
        </div>
        <div class="editor-field">
            <div id="Meal_Id">
                @foreach (var items in ViewBag.Meal_Ids as List<Resturant_System.Models.Select_Item>)
                {
                    if (items.id == @Model.Meal_Id)
                    {
                        <div id="@items.id">@items.value</div>
                        @Html.HiddenFor(model => model.Meal_Id, new { Value = items.id })
                    
                    }
                }
                
            </div>
        </div>
        <div class="editor-label">
            <span>
                <select id="Goods_Id" name="Goods_Id" class="form-control">
                    <option value="0"> -- Select Goods --</option>
                    @foreach (var item in ViewBag.Goods_Ids as List<Resturant_System.Models.Select_Item>)
                    {
                        <option value="@item.id" selected="@item.selected">@item.value</option>
                    }
                </select>
            </span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Extra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Extra)
            @Html.ValidationMessageFor(model => model.Extra)
        </div>

        <p>
            <input type="submit" name="action:Create" value="Create & Save" class="btn btn-primary"  /> 
            | <input type="submit" name="action:CreateMore" value="Create & Add More" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
