@model Resturant_System.Models.Goods_Details

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Goods_Details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Insertion_Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Insertion_Date)
            @Html.ValidationMessageFor(model => model.Insertion_Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Goods_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Goods_Id)
            @Html.ValidationMessageFor(model => model.Goods_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Extra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Extra)
            @Html.ValidationMessageFor(model => model.Extra)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
